<div class="flex items-center relative" role="search" [attr.aria-labelledby]="labelId">
  <i class="bi bi-search absolute left-4"></i>
  <!-- (keyup)="setSearchString($event)" -->
  <input
    [formControl]="searchStringFormControl"
    [style.padding-left]="'2.5rem'"
    [placeholder]="placeholder()"
    class="notivo-input min-w-[250px] w-full"
    [attr.id]="inputId"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-describedby]="labelId"
    type="search"
  />
  <!-- @if (searchStringFormControl.value?.length) {
  <button
    (click)="clear($event)"
    class="absolute right-4"
    type="button"
    [attr.aria-label]="clearButtonAriaLabel()"
  >
    <i class="bi bi-x-lg"></i>
  </button>
  }
</div> -->
</div>
